.tab {
    display: inline-block;
    margin-left: 4em;
}
.module-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.module-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.

.module-info {
    flex: 1;
}

.module-actions {
    display: flex;
    gap: 10px;
}

.module-actions > * {
    font-size: 20px;
    cursor: pointer;
}
.add-btn {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.update-btn {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.delete-btn {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.editMod-btn {
    background-color:#ffc107 !important;
    border-color: #ffc107 !important;
}

