#kanbas-navbar {
    width: 85px !important;
    min-height: max(100vh, 100%);
}

#kanbas-navbar ul {
    max-width: 100% !important;
}

#kanbas-navbar ul li {
    max-width: 100% !important;
}

.kanbas-navbar-item-text {
    font-size: 0.9em !important;
}

.nav-link {
    color: #ffffff;
    max-width: 100% !important;
}

.nav-pills .nav-link span {
    color: #E50000;
}

.nav-pills .nav-link.active {
    background-color: #ffffff;
    color: #E50000;
}

#account-icon {
    color: grey;
}

.nav-pills .nav-link {
    width: 100vw;
    border-radius: 0;
    padding: 5px;
}

.nav-pills .nav-link div span,
.nav-pills .nav-link div div {
    margin-block: 3px;
}

.page-content-wrapper {
    margin: 25px;
}

hr {
    margin: 0;
    padding: 0;
}
.kanbas-nav-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.3s, opacity 0.3s 0s, transform 0.3s;
    z-index: 3;
    border: 4px solid grey;
}
.kanbas-nav-popup:target {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.3s 0s, transform 0.3s;
}
.course-nav-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.3s, opacity 0.3s 0s, transform 0.3s;
    z-index: 3;
    border: 4px solid grey;
}
.course-nav-popup:target {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.3s 0s, transform 0.3s;
}