.status-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.status-icon, .ellipsis-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-text {
    color: green;
}
.assignment-editor-container {
    width: 70%;
    max-width: 80vw;
    position: relative;
    margin: 70px auto 0 100px;
}
.button-container {
    display: flex;
    justify-content: flex-end;

}






