.table *{
    border:1px solid #c7cdd1 ;
}

.wd-top-buttons{
    margin:8px 0px 8px 0px;
    align-items: center;
}


.gradebook-text {
    color: red;
    font-weight: bold;
    margin-right: auto;
}


.btn.wd-switch-buttons.wd-gear-btn{
    max-width:70px;
    min-width: unset;
    margin-left:15px;
}


.red-text {
    color: red;
}
